.header{
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSection{
  align-items: center;
  display: flex;
}

.middleSection{
  flex: 1;
  margin-left: 150px;
  margin-right: 100px;
  max-width: 730px;
  padding-top: 5px;
  align-items: center;
  display: flex;
}

.rightSection{
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  padding: 10px;
}

.searchBar{
  flex: 1;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: rgb(20, 20, 20);
  border-bottom-color: rgb(48, 48, 48);
  width: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border: 2px solid rgba(48, 48, 48);
  margin-left: 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px 0 0 50px;
  height: 40px;
  box-sizing: border-box;
}

.category{
  justify-content: center;
  display: flex;
  align-content: center;
  text-align: center;
}

.categorySection{
  background-color: rgb(255, 255, 255, 0.08);
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.menu{
  height: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.logo{
  height: 20px;
}

.micBtn{
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255, 0.08);
  border: 2px solid rgba(48, 48, 48);
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.searchBtn{
  height: 40px;
  width: 60px;
  background-color: rgb(255, 255, 255, 0.08);
  border-radius: 0 50px 50px 0;
  padding: 5px 10px;
  margin-right: 20px;
  border: 2px solid rgba(48, 48, 48);
  cursor: pointer;
}



.micIcon{
  height: 17px;
}

.searchIcon{
  height: 20px;
}

.createVideo{
  height: 20px;
}

.notification{
  height: 25px;
}

.myProfile{
  height: 40px;
}

.createVideo,
.notification,
.myProfile{
  cursor: pointer;
}

.myProfile{
  border-radius: 50px;
}