.miniProfile{
  width: 30px;
  border-radius: 50px;
  margin-right: 15px;
}

.sideBar{
  z-index: 1000;
  top: 56px;
  left: 0;
  position: fixed;
  margin-top: 10px;
  display: inline-block;
  background-color: rgb(20, 20, 20);
  max-height: 100vh;
  overflow-y: hidden;
}

.sideBar::-webkit-scrollbar {
  width: 8px; 
}

.sideBar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.sideBar::-webkit-scrollbar-track {
  background: rgb(20, 20, 20); 
}

.sideBar:hover{
  overflow-y: scroll;
}

.sidebarSpacing{
  padding-bottom: 80px;
}

.sidebarContent{
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  margin: 0 20px 0 20px;
  display: flex;
  align-items: center;
}

.sidebarContent:hover{
  background-color: rgb(50, 50, 50)
}

.icon{
  margin-right: 20px;
  width: 15px;
}

hr {
  margin-right: 25px;
  border-color: rgb(30, 30, 30, 0.4)
}

.sidebartitle{
  margin-left: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rightArrowBtn{
  margin-left: 12px;
  width: 5px;
}

.downArrowBtn{
  height: 8px;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 23px;
}

.linkText a{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-weight: 500;
  letter-spacing: .01em;
}


.linkText{
  margin-bottom: 10px;
}

.linkTextContainer{
  margin-left: 20px;
  margin-right: 30px;
}

