.thumbnail{
  width: 100%;
  border-radius: 10px;
}

.youtubeProfile{
  border-radius: 100%;
}

.videoInfo{
  display: inline-block;
}

.profile{
  width: 40px;
  border-radius: 50px;
}

.videoPreview{
  cursor: pointer;
}

.videoInfoGrid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.videoGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.thumbnailVideo{
  margin-bottom: 12px;
}


.contentSpacing{
  padding-bottom: 5px;
}

@media (min-width: 0px) and (max-width: 640px){
  .videoGrid{
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .sideBar{
    width: 150px;
  }
  .sidebarContent{
    font-size: 10px;
  }
  .videoContent{
    margin-left:20px;
  }
  .sideBar{
    visibility: hidden;
  }
  .searchBar{
    visibility: hidden;
    display: none;
  }
  .middleSection{
    width: 100px;
    margin-right: 0px;
  }

  .rightSection{
    width: 100px !important;
  }

  .myProfile{
    height: 30px !important;
  }

  .micBtn{
    background-color: rgb(20,20,20);
    border: none;
    
  }
  .searchBtn{
    background-color: rgb(20,20,20);
    border: none;
    margin-right: 0 !important;
  }

  .micIcon{
    height: 16px;
  }
  
  .searchIcon{
    height: 19px;
  }
}

@media (min-width: 641px) and (max-width: 750px) {
  .videoGrid{
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
  }
  .thumbnailVideo{
    width: 300px;
  }

  .sideBar{
    width: 180px;
  }

  .searchBar{
    width: auto !important;
  }
  .sidebarContent{
    font-size: 14px;
  }
  .videoContent{
    margin-left: 20px;
  }
  .sideBar{
    visibility: hidden;
  }
  .title{
    width: auto;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .youtuber,
  .views{
    width: auto;
    margin: 0;
    color: rgb(170, 170, 170);
    font-size: 12px;
  }

  .micIcon{
    height: 17px;
  }
  
  .searchIcon{
    height: 20px;
  }

  .micBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }
  .searchBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }
}


@media (min-width: 751px) and (max-width: 999px){
  .videoGrid{
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
  } 
  .sideBar{
    width: 180px;
  }
  .sidebarContent{
    font-size: 12px;
  }
  .sidebartitle{
    font-size: 14px;
  }
  .videoContent{
    margin-left: 200px;
  }

  .searchBar{
    width: auto !important;
  }

  .title{
    width: auto;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .youtuber,
  .views{
    width: auto;
    margin: 0;
    color: rgb(170, 170, 170);
    font-size: 12px;
  }

  .micIcon{
    height: 17px;
  }
  
  .searchIcon{
    height: 20px;
  }

  .micBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }
  .searchBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }
}

@media (min-width: 1000px) and (max-width:1299px){
  .videoGrid{
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .sideBar{
    width: 250px;
  }
  .sidebarContent{
    font-size: 14px;
  }
  .videoContent{
    margin-left: 250px;
  }
  .title{
    width: auto;
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .youtuber,
  .views{
    width: auto;
    margin: 0;
    color: rgb(170, 170, 170);
    font-size: 15px;
  }

  .micIcon{
    height: 17px;
  }
  
  .searchIcon{
    height: 20px;
  }

  .micBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }
  .searchBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }
}

@media (min-width: 1300px){
  .videoGrid{
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sideBar{
    width: 250px;
  }
  .sidebarContent{
    font-size: 14px;
  }
  .videoContent{
    margin-left: 250px;
  }
  .title{
    width: auto;
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .youtuber,
  .views{
    width: auto;
    margin: 0;
    color: rgb(170, 170, 170);
    font-size: 15px;
  }

  .middleSection{
    flex: 1;
    margin-left: 150px;
    margin-right: 100px;
  }
  .micBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }
  .searchBtn{
    background-color: rgb(255, 255, 255, 0.08);
    border: 2px solid rgba(48, 48, 48);
  }

  .micIcon{
    height: 17px;
  }
  
  .searchIcon{
    height: 20px;
  }
}