.thumbnail{
  width: 100%;
  border-radius: 10px;
}

.youtubeProfile{
  border-radius: 100%;
}

.videoInfo{
  display: inline-block;
}

.profile{
  width: 40px;
  border-radius: 50px;
}

.videoPreview{
  cursor: pointer;
}

.videoInfoGrid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.videoGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.thumbnailVideo{
  margin-bottom: 12px;
}


.contentSpacing{
  padding-bottom: 5px;
}

